$gray: #F4F4F4;
$white: #FFFFFF;
$graylight: #E4E2E2;

@mixin btn{
	border-color: gray;
    color: gray;
    border-radius: 0;
    width: 200px;
    margin: 5% 1%;
    font-weight: 700;
}
header{
    .navbar-default{
        background-color: white;
        border: 1px solid $graylight;
        border-radius: 0;
        margin: 0;
        .navbar-brand{
            border-right: 1px solid $graylight;
            font-size: 0.8em;
            letter-spacing: 3px;
            font-weight: bold;
        }
        .lupa{
            border-left: 1px solid $graylight;
            position: absolute;
    		right: 30px;
    		font-size: 20px;
    		color: gray;
    		top: 10px;
    		i{
    			margin-left: 20px;
    		}
           }
        .list{
            &:after{
                    content: "|";
                    padding-left: 20px;
                }
            }
        }
    }    

.banner{
	background-color:$gray;
	text-align: center;
	p,a{
		color: darkgray;
	}
	.hexa0{
        overflow: hidden;
        transform: rotate(120deg);
        height: 120px;
        width: 70px;
        visibility: hidden;
        position: relative;
        left: 46%;
    }
    .hexa2, .hexa1{
        height: 100%;
        width: 100%;
    }
    .hexa1{
        overflow: hidden;
        transform: rotate(-60deg);
    }
    .hexa2{
        visibility: visible;
        transform: rotate(-60deg);
        background-image: url("../images/logo.jpg");
        background-position: center;
    }
}

.centro{
	background-color:$white;
	border:1px solid $graylight;
	.row{
		&:first-child{
			border-bottom: 1px solid $graylight;
			p{
				color: darkgray;
			}
			.col-md-9{
				text-align: left;
    			padding: 4%;

			}
			.col-md-3{
				border-left: 1px solid $graylight;
			    text-align: right;
			    padding: 5%;
			    p{
			    	display: inline-block;
			    	text-decoration: underline

			    }
			    .img{
			    	display: inline-block;
				    width: 40px;
				    margin: 0 0 0 15px;
				    img{
				   		width: 100%;
    					border-radius: 100%;
				    }
			    }
			}
		}
		&:nth-child(2){
			padding: 5%;
			img{
				width: 100%;
			}
		}
		&:nth-child(3), &:nth-child(4){
			text-align: left;
			padding: 0 5% 2%;
			p{
				line-height: 1.7em;
    			font-size: 1.1em;
			}
		}
	}
}	
	.likes{
		 margin-top: 2%;
		a{
		color:black;
		margin: 0 10px;
		i:before{
			    margin-right: 10px;
		}
	 }
	}
	.btn{
		@include btn;
	    height: 50px;
	    padding-top: 10px;
	}
.pages{
	.btn{
		@include btn;
	    padding-top: 15px;
	    background-color: $gray;
	}
}